a {
    color: crimson;
}
body {
    background: rebeccapurple;
}
.link:hover {
    color: #811d1d;
    text-decoration-color: darkblue;
}


.bigword, header, footer, main{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Times New Roman";
    color: wheat;
    font-size: 20px;
}
.bigword {
    color: darkseagreen;
}
form {
    background: coral;
    padding: 10px;
    border-radius: 7px;
}
#message, #surname, #name {
    display: block;
    text-align: start;
}
.form textarea, .form input {
    border-radius: 7px;
    margin-bottom: 5px;
    background: #e5e5e5;
}
span {
    color: rebeccapurple;
}